<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
<form [formGroup]="userForm" (ngSubmit)="sendData()">
  <div class="card">

    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="productName">Nombre de producto</label>
        <input pInputText type="text" formControlName="productName"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <small class="p-error" *ngIf="userForm.get('productName').invalid && userForm.get('productName').touched">
          El texto debe tener entre 10 y 200 palabras
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="presentationDate">Fecha de presentación (*)</label>
        <div>
          <p-dropdown formControlName="presentationDate" [options]="years" optionLabel="date"
            placeholder="Seleccione"></p-dropdown>
          <small class="p-error"
            *ngIf="userForm.get('presentationDate').invalid && (userForm.get('presentationDate').dirty || userForm.get('presentationDate').touched)">
            El campo es requerido
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label for="city">Ciudad (*)</label>
        <input pInputText id="city" type="text" formControlName="city"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <small class="p-error" *ngIf="userForm.get('city').invalid && userForm.get('city').touched">
          Campo requerido
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="verification">Medio de verificación</label>
        <input pInputText id="verification" type="text" formControlName="verification"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-6">
        <label for="targetPublic">Público objetivo (*)</label>
        <div>
          <p-multiSelect [options]="people" formControlName="targetPublic" optionLabel="targetPeople"
            defaultLabel="Seleccione"></p-multiSelect>
          <small class="p-error"
            *ngIf="userForm.get('targetPublic').invalid && (userForm.get('targetPublic').dirty || userForm.get('targetPublic').touched)">
            El campo es requerido
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label for="literaryGender">Género literario</label>
        <div>
          <p-dropdown formControlName="literaryGender" [options]="genres" optionLabel="genre"
            placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label for="type">Tipo </label>
        <div>
          <p-dropdown formControlName="type" [options]="types" optionLabel="type" placeholder="Seleccione"></p-dropdown>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label for="circulation">Ruta de circulación propuesta (Evidencia de alianzas para la difusión) (*)</label>
        <div>
          <p-dropdown formControlName="circulation" [options]="circulations" optionLabel="circulation"
            placeholder="Seleccione"></p-dropdown>
          <small class="p-error"
            *ngIf="userForm.get('circulation').invalid && (userForm.get('circulation').dirty || userForm.get('circulation').touched)">
            El campo es requerido
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label for="differentialapproach">Enfoque diferencial</label>
        <div>
          <label for="yes">Si el producto cuenta con un enfoque diferencial, haga clic aquí </label>
          <p-checkbox formControlName="differentialapproach" value="false"></p-checkbox>
          <div *ngIf="userForm.controls['differentialapproach'].valueChanges | async">
            <div *ngFor="let checkbox of secondchecks">
              <p-checkbox [value]="checkbox" formControlName="differentialapproachOptions"></p-checkbox>
              <label [for]="checkbox.key">{{ checkbox.option }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <label for="circulation">Proyecto de investigación (*)</label>
        <input pInputText type="text" formControlName="researchProject"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <small class="p-error"
          *ngIf="userForm.get('researchProject').invalid && (userForm.get('researchProject').dirty || userForm.get('researchProject').touched)">
          El campo es requerido y debe tener mínimo 10 letras
        </small>
      </div>

      <div class="field col-12  md:col-6">
        <label for="description">Descripción del público objetivo (*)</label>
        <div>{{ wordCount.count }} de 4000</div>
        <textarea id="description" type="text" rows="4" formControlName="description"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        <small class="p-error" *ngIf="userForm.get('description').invalid && userForm.get('description').touched">
          El texto debe tener entre 10 y 400 palabras
        </small>
      </div>
      <div class="field col-12  md:col-6">
        <label for="conceptualization">Conceptualización del formato (*)</label>
        <div>{{ wordCount1.count }} de 4000</div>
        <textarea id="conceptualization" type="text" rows="4" formControlName="conceptualization"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        <small class="p-error"
          *ngIf="userForm.get('conceptualization').invalid && userForm.get('conceptualization').touched">
          El texto debe tener entre 10 y 400 palabras
        </small>
      </div>
    </div>
  </div>
  <button type="submit" label="Guardar" pButton pRipple class="p-button-success" (click)="sendData()"
    [disabled]="userForm.invalid"></button>
</form>

<div class="field col-12  md:col-12">

  <textarea id="form" [value]="formData" rows="4" placeholder="Datos del formulario"
    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
</div>